.register_container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: white; 
}

.register-card {
  background-color: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  width: 100%;
  max-width: 400px; 
}


.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
} 